# ETL Processes
Use this notebook to develop the ETL process for each of your tables before completing the `etl.py` file to load the whole datasets.

In [3]:
import os
import glob
import psycopg2
import pandas as pd
import importlib
#from sql_queries import *

In [ ]:
%run -i 'create_tables.py'

In [4]:
conn = psycopg2.connect("host=127.0.0.1 dbname=sparkifydb user=student password=student")
cur = conn.cursor()

In [ ]:
def get_files(filepath):
    '''
    Returns a list of files in the provided file path

            Parameters:
                    a filepath (str): This is the file path 

            Returns:
                    all_files (list): This is a list of filenames in the provided file path
    '''    
    try:
        all_files = []
        for root, dirs, files in os.walk(filepath):
            files = glob.glob(os.path.join(root,'*.json'))
            for f in files :
                all_files.append(os.path.abspath(f))
    except:
        print(f"There was an error getting the files in the provided file path: {traceback.format_exec()}") 
    
    return all_files

# Process `song_data`
In this first part, you'll perform ETL on the first dataset, `song_data`, to create the `songs` and `artists` dimensional tables.

Let's perform ETL on a single song file and load a single record into each table to start.
- Use the `get_files` function provided above to get a list of all song JSON files in `data/song_data`
- Select the first song in this list
- Read the song file and view the data

In [ ]:
song_files = get_files('data/song_data')
song_files_df = pd.DataFrame(song_files, columns=['file_path'])

#removing files from notebook checkpoints
song_files_df = song_files_df[~song_files_df['file_path'].str.contains('checkpoint')] 

#loading the data
combined_song_data_df = pd.DataFrame()
count=0
for path in song_files_df['file_path']:
    data_df = pd.read_json(path, lines=True)
    combined_song_data_df = combined_song_data_df.append(data_df)
    count+=1
    print(f"Processing {count} of {len(song_files_df)}", end ="\r")
combined_song_data_df.info()

## #1: `songs` Table
#### Extract Data for Songs Table
- Select columns for song ID, title, artist ID, year, and duration
- Use `df.values` to select just the values from the dataframe
- Index to select the first (only) record in the dataframe
- Convert the array to a list and set it to `song_data`

In [ ]:
song_data = list(combined_song_data_df[['song_id', 'title', 'artist_id', 'year', 'duration']].values[0])
song_data

#### Insert Record into Song Table
Implement the `song_table_insert` query in `sql_queries.py` and run the cell below to insert a record for this song into the `songs` table. Remember to run `create_tables.py` before running the cell below to ensure you've created/resetted the `songs` table in the sparkify database.

In [ ]:
cur.execute(song_table_insert, song_data)
conn.commit()

In [ ]:
#Saving all the other songs
song_data_df = combined_song_data_df[['song_id', 'title', 'artist_id', 'year', 'duration']].drop_duplicates()
song_data_df[song_data_df['song_id'].duplicated()]
for i, row in song_data_df[1:].iterrows():
    cur.execute(song_table_insert, list(row))
    conn.commit()

Run `test.ipynb` to see if you've successfully added a record to this table.

## #2: `artists` Table
#### Extract Data for Artists Table
- Select columns for artist ID, name, location, latitude, and longitude
- Use `df.values` to select just the values from the dataframe
- Index to select the first (only) record in the dataframe
- Convert the array to a list and set it to `artist_data`

In [ ]:
artist_data = list(combined_song_data_df[['artist_id', 'artist_name', 'artist_location', 'artist_latitude', 'artist_longitude']].values[0])
artist_data

#### Insert Record into Artist Table
Implement the `artist_table_insert` query in `sql_queries.py` and run the cell below to insert a record for this song's artist into the `artists` table. Remember to run `create_tables.py` before running the cell below to ensure you've created/resetted the `artists` table in the sparkify database.

In [ ]:
cur.execute(artist_table_insert, artist_data)
conn.commit()

In [ ]:
#Saving all the other artists
artist_data_df = combined_song_data_df[['artist_id', 'artist_name', 'artist_location', 'artist_latitude', 'artist_longitude']].drop_duplicates()
for i, row in artist_data_df[1:].iterrows():
    cur.execute(artist_table_insert, list(row))
    conn.commit()

Run `test.ipynb` to see if you've successfully added a record to this table.

# Process `log_data`
In this part, you'll perform ETL on the second dataset, `log_data`, to create the `time` and `users` dimensional tables, as well as the `songplays` fact table.

Let's perform ETL on a single log file and load a single record into each table.
- Use the `get_files` function provided above to get a list of all log JSON files in `data/log_data`
- Select the first log file in this list
- Read the log file and view the data

In [ ]:
log_files = get_files('data/log_data')
log_files_df =  pd.DataFrame(log_files, columns=['file_path'])

#loading the data
combined_log_data_df = pd.DataFrame()
count=0
for path in log_files_df['file_path']:
    data_df = pd.read_json(path, lines=True)
    combined_log_data_df = combined_log_data_df.append(data_df)
    count+=1
    print(f"Processing {count} of {len(log_files_df)}", end ="\r")

#Chenging dtypes
combined_log_data_df['ts'] = pd.to_datetime(combined_log_data_df['ts'])
combined_log_data_df.loc[combined_log_data_df['userId']=='','userId'] = None

combined_log_data_df.info()

## #3: `time` Table
#### Extract Data for Time Table
- Filter records by `NextSong` action
- Convert the `ts` timestamp column to datetime
  - Hint: the current timestamp is in milliseconds
- Extract the timestamp, hour, day, week of year, month, year, and weekday from the `ts` column and set `time_data` to a list containing these values in order
  - Hint: use pandas' [`dt` attribute](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.dt.html) to access easily datetimelike properties.
- Specify labels for these columns and set to `column_labels`
- Create a dataframe, `time_df,` containing the time data for this file by combining `column_labels` and `time_data` into a dictionary and converting this into a dataframe

In [ ]:
df = combined_log_data_df[combined_log_data_df['page']=='NextSong'].copy()

#converting the ts to datetime
df['ts'] = pd.to_datetime(df['ts'], unit ='ms')

df.info()

In [ ]:
#extracting the values timestamp, hour, day, week of year, month, year, and weekday 
df[['ts']], 
t = df[['ts']].copy()
t['hour'] = df['ts'].dt.hour
t['day'] = df['ts'].dt.day
t['week_of_year'] = df['ts'].dt.week
t['month'] = df['ts'].dt.month
t['year'] = df['ts'].dt.year
t['weekday'] = df['ts'].dt.weekday

#Getting the time table data
time_df = t.rename(columns={'ts' : 'start_time'}).copy()
time_df.info()

#### Insert Records into Time Table
Implement the `time_table_insert` query in `sql_queries.py` and run the cell below to insert records for the timestamps in this log file into the `time` table. Remember to run `create_tables.py` before running the cell below to ensure you've created/resetted the `time` table in the sparkify database.

In [ ]:
time_table_insert = ("""
                    INSERT INTO time (start_time, hour, day, week, month, year, weekday) VALUES (%s, %s, %s, %s, %s, %s, %s)
""")

for i, row in time_df.iterrows():
    cur.execute(time_table_insert, list(row))
    conn.commit()

Run `test.ipynb` to see if you've successfully added records to this table.

## #4: `users` Table
#### Extract Data for Users Table
- Select columns for user ID, first name, last name, gender and level and set to `user_df`

In [ ]:
user_df = df[['userId', 'firstName', 'lastName','gender','level']].drop_duplicates()
user_df['userId'] = pd.to_numeric(user_df['userId'])
user_df.sort_values(by=['userId'], inplace = True)
user_df.reset_index(drop= True, inplace = True)
user_df.head()

#### Insert Records into Users Table
Implement the `user_table_insert` query in `sql_queries.py` and run the cell below to insert records for the users in this log file into the `users` table. Remember to run `create_tables.py` before running the cell below to ensure you've created/resetted the `users` table in the sparkify database.

In [ ]:
for i, row in user_df.iterrows():
    cur.execute(user_table_insert, row)
    conn.commit()

Run `test.ipynb` to see if you've successfully added records to this table.

## #5: `songplays` Table
#### Extract Data and Songplays Table
This one is a little more complicated since information from the songs table, artists table, and original log file are all needed for the `songplays` table. Since the log file does not specify an ID for either the song or the artist, you'll need to get the song ID and artist ID by querying the songs and artists tables to find matches based on song title, artist name, and song duration time.
- Implement the `song_select` query in `sql_queries.py` to find the song ID and artist ID based on the title, artist name, and duration of a song.
- Select the timestamp, user ID, level, song ID, artist ID, session ID, location, and user agent and set to `songplay_data`

#### Insert Records into Songplays Table
- Implement the `songplay_table_insert` query and run the cell below to insert records for the songplay actions in this log file into the `songplays` table. Remember to run `create_tables.py` before running the cell below to ensure you've created/resetted the `songplays` table in the sparkify database.

In [ ]:
#GEtting the users data
cur.execute("SELECT * FROM users")
column_names = [ x[0] for x in cur.description]
users_db_df = pd.DataFrame(cur.fetchall(), columns = column_names)
users_db_df.head()

cur.execute("SELECT * FROM artists")
column_names = [ x[0] for x in cur.description]
artists_db_df = pd.DataFrame(cur.fetchall(), columns = column_names)
artists_db_df.head()

cur.execute("SELECT * FROM songs")
column_names = [ x[0] for x in cur.description]
songs_db_df = pd.DataFrame(cur.fetchall(), columns = column_names)
songs_db_df.head()

#GEtting the songplay data

song_artist_data_select = ("""
                            SELECT songs.song_id, songs.title, songs.duration, artists.artist_id, artists.name
                                        FROM 
                                            (songs
                                                JOIN artists ON artists.artist_id = songs.artist_id)
                        """)
cur.execute(song_artist_data_select)
column_names = [ x[0] for x in cur.description]
song_artist_data_db_df = pd.DataFrame(cur.fetchall(), columns = column_names)
song_artist_data_db_df.head()

#Adding the songid to the log data dataset
song_play_data_df = combined_log_data_df.merge(song_artist_data_db_df.rename(columns ={'title' : 'song'}), on =['song'], how = 'left')

#removing entries with null song_id
song_play_data_df = song_play_data_df[song_play_data_df['song_id'].notnull()]

#Selecting the requied columns
song_play_data_df = song_play_data_df[['ts', 'userId', 'level', 'sessionId', 'location', 'userAgent', 'song_id', 'artist_id']].reset_index(drop = True)
song_play_data_df.head()

In [ ]:
import traceback

song_select = ("""
                SELECT songs.song_id, songs.title, songs.duration, artists.artist_id, artists.name
                            FROM 
                                (songs
                                    JOIN artists ON artists.artist_id = songs.artist_id)
                            WHERE 
                                songs.song_id IS NOT NULL AND songs.title = %s AND artists.name = %s AND songs.duration = %s
            """)

songplay_table_insert = ("""
                    INSERT INTO songplays (start_time, user_id, level, song_id, artist_id, session_id, location, user_agent)
                                VALUES ( %s, %s, %s, %s, %s, %s, %s, %s)
""")

count=0
for index, row in combined_log_data_df.iterrows():

    # get songid and artistid from song and artist tables
    cur.execute(song_select, (row.song, row.artist, row.length))
    results = cur.fetchone()
    
    if results:
        song_id, song_title, song_duration, artist_id, artist_name = results

        # insert songplay record
        try:
            start_time = row['ts']
            user_id = row['userId']
            level = row['level']
            session_id = row['sessionId']
            location = row['location']
            user_agent = row['userAgent']    
            songplay_data = [start_time, user_id, level, song_id, artist_id, session_id, location, user_agent]
            cur.execute(songplay_table_insert, songplay_data)
            conn.commit()
            count+=1
        except:
            print(f"{songplay_data}")
            print(f"There was an error {traceback.format_exc()}")

print(f"\t --> Added {count} entries to the songplays table")

Run `test.ipynb` to see if you've successfully added records to this table.

# Close Connection to Sparkify Database

In [ ]:
cur.close()
conn.close()

# Implement `etl.py`
Use what you've completed in this notebook to implement `etl.py`.

In [3]:
%run -i 'create_tables.py'

OperationalError: database "sparkifydb" is being accessed by other users
DETAIL:  There is 1 other session using the database.

In [4]:
%run -i 'etl.py'

Starting the etl process
Starting to process song data
	 --> Got 71 song_data files
	 --> Loading the data from the song_data files
		 --> Got 71 song_data records
	 --> Saving all the song data to the DB
		 --> Saved 71 song_data records
	 --> Saving all the artists data to the DB
		 --> Saved 69 song_data records
Starting to process log data
	 --> Got 30 song_data files
	 --> Starting to load log data
		 --> Got 8056 log_data records
	 --> Starting to process time_table
		 --> Inserted 6820 records into the time_table
	 --> Starting to process user_table

NameError: name 'traceback' is not defined